# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# ------- react -------
# compiled output
react/node_modules
react/.pnp
react/.pnp.js

# testing
react/coverage

# production
react/build

# ------- nest -------
# compiled output
nest/dist
nest/node_modules

# Logs
nest/logs
nest/*.log
nest/npm-debug.log*
nest/pnpm-debug.log*
nest/yarn-debug.log*
nest/yarn-error.log*
nest/lerna-debug.log*


# ------- mysql -------
mysql/data


# ------- GCP -------
cloudsql-account-key.json
samples/wordpress-persistent-disks/key.json
samples/wordpress-persistent-disks/wordpress_cloudsql.yaml
